/*
html {
  background: url(../imgs/TTWW_POSTER.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#audioPlayer {
  margin: 0;
  padding: 0;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
}
#audioPlayer > div {
  display: flex;
}
#albumArt {
  width: 100%;
  height: 100vh;
}
