html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
#audioPlayer {
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  background-color: black; 
}
.art {
  position: fixed;
  z-index: -1;
}
#audioPlayer > div {
  display: flex;
}
#albumArt {
  height: 100vh;
  width: auto;
}
.audio {
  position: fixed;
  z-index: 1;
  top: 0;
}
#ttwwAudioFile {
  width: 100vw;
}

/************ add content styles *******/
.content {
  position: relative;
  top: 100vh;
  width: auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: white;
}
#content_head_container {
  flex-basis: 100%;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.content_img, .about {
  flex: 1 1 auto;
}
.about {
  /*
  background-color: white;
  */
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: x-large;
}
