html, body {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
body {
  flex: 1 1 100%;
  justify-content: flex-start;
  /*this keeps the right edge of the poster picture visible */
  align-items: flex-end;
  font-family: 'Titillium Web', sans-serif;
  font-size: x-large;
}
#home {
  position: fixed;
  flex: 1 1 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  background-color: black;
}
#album_art {
  flex: 0 0 100%;
  height: 100vh;
  width: 100%;
}
#content_head {
  width: 85%;
}
.about_symbol {
  width: auto;
}

#ttwwAudioFile {
  width: 100%;
}

/************ add content styles *******/
.content, .credits {
  position: relative;
  top: 100vh;
  width: auto;
  display: flex;
  flex-flow: row wrap;
  /*align-items: center;*/
  justify-content: flex-start;
}
#content_head_container {
  flex-basis: 100%;
  background-color: white;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.about_img, .about {
  flex: 1 1 auto;
}
.about, .credits_item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  /* font-family: 'Titillium Web', sans-serif;
  font-size: x-large; */
  background-color: white;
}
/*code mobile first */
.about > div, .about > img, .about p {
  flex: 1 1 100%;
  /*flex: 1 1 50%;*/
}
.about p {
  padding: 10px;
}
#easier_said_img, #defeat_img{
  /* it is absolutely crucial to specify this width, otherwise they will push the DOM beyond 100% on mobile */
  width: 50%;
  /* this does something in firefox but nothing in chrome on mobile
  removing it makes the image huge in chrome and on both browsers mobile verzions
  keeping it shrinks the image in firefox but not chrome
  SOLUTION: specify width in media query*/
  flex: 0 0 50%;
}
#defeat {
  justify-content: flex-start;
}
/* option for door to background
#easier_said {
  flex: 0 0 80%;
}

#easier_said_img, #defeat_img {
  flex: 0 0 25%;
}
*/
#ancient_traces {
  background: rgba(255, 255, 255, 0.7);
  flex-basis: 100%;
}
.footer {
  width: 100%;
  flex: 1 1 100%;
  background: #ccc;
  /* background-image: linear-gradient(#ccc, #888); */
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.footer h1 {
  color: transparent;
  background-color: #565656;
  background-image: linear-gradient(#565656, #363636);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
.footer h1 {
  flex: 1 1 100%;
  /** try to fix clumsy spacing on phone without destroying desktop version **/
  /* margin: 3%; */
}
.footer h1:nth-child(2), .footer h1:nth-child(1){
  display: none;
}

/***** WIDGET BOI ***/
#widget_boi {
  width: 11vw;
  height: 11vw;
  z-index: 2;
  position: fixed;
<<<<<<< HEAD
  top: 30%;
  left: 45%;
}
.widget_nav_container {
  position: relative;
  width: 100%;
  height: 100%;
}
.nav_img_container img {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0;
  width: 100%; */
}
.nav_img_container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.nav_box {
  flex: 1 1 45%;
}
.nav_options {
  position: absolute;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  z-index: 3;
  color: gray;
  color: transparent;
}
.widget_function_container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#widget_function {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  width: 65%;
  height: 65%;
  border-radius: 50%;
  color: gray;
}
/* .audio_timeline {

} */
/* .widget_nav {
  z-index: 3;
}
.widget_bezel {
  z-index: 4;
} */
/***** WIDGET MENU ***/
.menu {
  display: flex;
  flex-flow: column nowrap;
  z-index: 2;
  position: fixed;
  top: 20vh;
  right: 70vw;
}
.menu h2 {
  background: rgba(255, 255, 255, 0.5);
}
/********END WIDGET BOI ****/
/*adjust for desktop*/
@media only screen and (min-device-width:600px){

/**** ABOUT ****/
  .about > div, .about > img, .about p {
    flex: 1 1 50%;
  }
  #easier_said_img, #defeat_img {
    width: 25%;
    flex: 0 0 25%;
  }
  #easier_said_img {
    order: 2;
  }
  #easier_said div {
    order: 1;
  }
  #content_head {
    width: 50%;
  }
  .footer h1:nth-child(2), .footer h1:nth-child(1) {
    display: unset;
  }
  .footer h1:nth-child(1), .footer h1:nth-child(3) {
    flex: 0 0 40%;
  }
  .footer h1:nth-child(2) {
    flex: 0 0 10%;
  }
}
/** hide content section to start work on credits **/
/* .content {
  display: none;
} */
.credits {
  display: none;
}
